<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="template">

<head>
    <title>Dodaj artystę</title>
</head>

<body>
    <div class="main-container" layout:fragment="content">
        <form id="box-login" th:action="@{/artist/new/save}" th:object="${artistForm}" method="post">
            <div th:include="message_box :: alert"></div>

            <!-- Nazwa artysty -->
            <div th:class="${#fields.hasErrors('artist.name')}? 'form-group has-error' : 'form-group'">
                <label class="col-md-3 control-label"> <span th:text="#{artist.name}"></span>
                </label>
                <input type="text" th:field="*{artist.name}" class="form-control" name="artist" th:placeholder="#{artist.name}" />
                <p class="control-label" th:each="err : ${#fields.errors('artist.name')}" th:utext="${err}"></p>
            </div>

            <!-- Tag -->
            <div th:class="${#fields.hasErrors('artist.tag')}? 'form-group has-error' : 'form-group'">
                <label class="col-md-3 control-label"> <span th:text="#{artist.tag}"></span>
                </label>
                <input type="text" th:field="*{artist.tag.tag}" class="form-control" name="artist" th:placeholder="#{artist.tag}" />
                <p class="control-label" th:each="err : ${#fields.errors('artist.tag')}" th:utext="${err}"></p>
            </div>

            <!-- PRZYCISK  -->
            <div class="some-SHITTY-batton" align="right">
                <input class="btn-primary" type="submit"></input>
            </div>
        </form>
    </div>

</body>

</html>