<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="template">

<head>
<title>Profil</title>
</head>

<body>
<!-- index.html, line 348 tabelki -->
	<div class="main-container" layout:fragment="content">
		<table>
			<tr>
				<td align="right"><label th:text="#{user.profile.firstname}"></label></td>
				<td><label th:text="*{userData.firstname}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.lastname}"></label></td>
				<td><label th:text="*{userData.lastname}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.email}"></label></td>
				<td><label th:text="*{userData.email}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.username}"></label></td>
				<td><label th:text="*{userData.username}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.birthday}"></label></td>
				<td><label th:text="*{userData.birthday}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.country}"></label></td>
				<td><label th:text="*{userData.country}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.loginType}"></label></td>
				<td><label th:text="*{userData.loginType}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.dateRegistered}"></label></td>
				<td><label th:text="*{userData.dateRegistered}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.status}"></label></td>
				<td><label th:text="*{userData.status}"></label></td>
			</tr>
			<tr>
				<td align="right"><label th:text="#{user.profile.locale}"></label></td>
				<td><label th:text="*{userData.locale}"></label></td>
			</tr>
			<!-- <tr>
				<td><label th:text="#{user.profile.roles}"></label></td>
				 <td><label th:text="*{userData.roles}"></label></td>
			</tr>-->
		</table>
	</div>
</body>
</html>